body {
	font-size: 16px;
	color: black;
	font-family: cursive, serif, "Times New Roman", Times;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  	border: 2px solid black !important;
}

.navbar-header button.navbar-toggle{
	clear: both;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

#header-nav{
  	background-color: #C0C0C0;  
  	border:2px solid black; 
  	border-radius: 0;
}

.navbar-brand{
  	margin-bottom:  15px;
  	padding-bottom: 15px;
}

.navbar-nav{
  	margin:0 -15px !important;
}

.navbar-brand h1 {
	font-size: 1.8em;
	color: black;
  	font-weight: bold;
  	margin-top: 0;
  	margin-bottom: 0;
}


#nav-list{
  border: 1px solid;
}

#nav-list li{
  background: white;
  border-bottom: 2px solid;
}

#nav-list li:nth-child(3){
  border-bottom: 0;
}

#nav-list li a{
  color: black;
  font-weight: 600;
  line-height: 8px
}


#main-content #page-title{
  	font-weight: bold;
  	margin-top: 0px;
  	margin-bottom: 25px;
}

#main-text{
	background-color: #C0C0C0;
	padding-top: 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

h3{
	margin-top: 5px;
	text-align: center;
  	font-weight: bold;
}